---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<section>
  <ul class="news-list">
    {
      posts.map((post) => (
        <li class="news-item">
          <a href={`/blog/${post.slug}/`}>
            <img
              src={post.data.heroImage.src}
              alt={post.data.title}
              width={720}
              class="thumb-news"
            />
            <p class="tag">
              <FormattedDate date={post.data.pubDate} />
            </p>
            <h4 class="title">{post.data.title}</h4>
            <p class="intro">{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>
  <!-- <h2 class="section-title">Nieuws</h2>
  <div class="news-wrap">
    <div class="news-list">
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?greenery
          "
          alt="plaatje"
          class="thumb-news"
        />
        <p class="tag">2023</p>
        <h3 class="title">7/10/2023 'Help, mijn tuin heeft tegels!'</h3>
        <p class="intro">
          In mijn nabije omgeving merkte ik een nieuw fenomeen op:
          ‘Tegelschaamte’.
        </p>
        <p>
          Bij het bekijken van het account @onderhoudsarmoe steeg het schaamrood
          sommige mensen (ik noem geen namen) naar de kaken.
        </p>
      </div>
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?garden,greenery
          "
          alt="plaatje"
          class="thumb-news"
        />
        <p class="tag">2023</p>
        <h3 class="title">Nu al een museumstuk</h3>
        <p class="intro">
          In het Natuurhistorisch Museum kun je me tegenwoordig zomaar
          tegenkomen
        </p>
        <p>
          In een video in de tentoonstelling ‘Nationaal Park Rotterdam’ zie je
          mij rommelen en kletsen in mijn eigen stadstuintje. Op die manier hoop
          ik anderen te inspireren om vooral ook lekker te gaan rommelen in hun
          tuintje.
        </p>
      </div>
      <div class="news-item">
        <img
          src="https://source.unsplash.com/random/?plants
          "
          alt="plaatje"
          class="thumb-news"
        />
        <p class="tag">2023</p>
        <h3 class="title">Socials van het Rotterdams WeerWoord</h3>
        <p class="intro">
          Via de sociale kanalen van het Rotterdams WeerWoord mag ik thema’s als
          klimaatadaptatie en biodiversiteit wat dichter bij de Rotterdammer
          brengen.
        </p>
        <p>
          Met veel plezier fiets ik langs actieve Rotterdammers die tegels
          wippen, stadsecologen die bodemdieren zoeken, waterpleinen die het
          riool ontlasten en groene parels in de stad die het bezoeken waard
          zijn.
        </p>
      </div>
    </div>
  </div> -->
</section>

<style>
  section {
    background: var(--clr-yellow);
  }

  .news-list {
    display: grid;
    gap: var(--grid-gutter);
  }

  .news-item a {
    text-decoration: none;
    color: inherit;
  }

  .thumb-news {
    width: 100%;
    height: auto;
    margin-bottom: var(--space-xs-s);
  }

  .title {
    font-size: var(--fs-1xl);
    font-weight: var(--fw-700);
    margin: var(--space-3xs-2xs) 0;
  }

  .intro {
    font-weight: var(--fw-600);
    font-size: var(--fs-sm);
    line-height: var(--lh-loose-3);
  }

  p + p {
    margin-top: var(--space-3xs-2xs);
    font-size: var(--fs-sm);
    line-height: var(--lh-loose-3);
  }

  @media only screen and (min-width: 768px) {
    .news-list {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: var(--grid-gutter);
    }
  }
</style>
