---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import MainLayout from "../layouts/MainLayout.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<MainLayout {title} {description} image={heroImage.src}>
  <article>
    <div class="title">
      <div class="date">
        <div class="tag">
          <FormattedDate date={pubDate} />
        </div>
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }

        <h1 class="fs-4xl fw-700 lh-loose-1">{title}</h1>
      </div>
      <div class="hero-image">
        <Image
          src={heroImage.src}
          alt={heroImage.alt}
          width={1600}
          height={900}
        />
        <!-- {
          heroImage && (
            <img
              src={heroImage.src}
              alt={heroImage.alt}
              width={1600}
              height={900}
            />
          )
        } -->
      </div>

      <slot />
    </div>
  </article>
</MainLayout>

<style>
  body {
    background: var(--clr-yellow);
  }

  article {
    padding: var(--space-s-2xl);
    max-width: 1280px;
    margin: 0 auto;
  }

  img {
    height: auto;
    margin: 2rem 0;
  }

  p {
    color: red;
  }
</style>
